*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-image: url('Imagens/fundo_mercado.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .form-cadastro label {
    font-weight: bold;
    margin-bottom: 2px;
  }
  
  .form-cadastro input[type="text"],
  .form-cadastro input[type="email"],
  .form-cadastro input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .form-cadastro input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-cadastro input[type="submit"]:hover {
    background-color: #45a049;
  }
